* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

:root {
}

.primary-color {
  color: #ffff;
}

.secundary-color {
  color: #7a7266;
}

.tertiary-color {
  color: #5a493e;
}

.text-color {
  color: #2a2a2a;
}

.background-tertiary-color{
  background-color: #5a493e;
  color:#ffff;
}

.background-quarternary-color{
  background-color: #2a2a2a;
  color:#ffff;
}

.background-quinary-color{
  background-color: #7A7266;
  color:#ffff;
}

.text-title {
  font-family: 'Playfair Display';
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
}

/*PAGINA INICIO*/
.inicio {
  max-width: 100vw;
  height: 100vh;
  background-image: url(../imgs/imageHome.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.inicio p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.inicio h1{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 67px;
  line-height: 89px;
  text-align: center;
  color: #FFFFFF;
}

/*NAVBAR*/
#navbar {
  width: 100%;
  position: absolute;
  top: 0;
}

@media(max-width: 450px){
  #navbar{
    height: 70px;
    top: 93%;
    background-color: #2A2A2A;
  }
  .menuNav{
    position: absolute;
  }
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;

}

#navbar-items .nav-item {
  margin: 0 1em;
}

/*SUITES*/
a {
  font-family: 'Montserrat';
  color: #ffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.suites, .cortesias {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #7a7266;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*PAGINA O MOTEL*/
.motel {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #eeeeee;
  overflow: hidden;
}

.motel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-motel {
  width: 568px;
  height: 512px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  padding: 0;
  margin: 0;
  margin-top: 112px;
}

.imageMotel {
  padding: 0;
  margin: 0;
}

@media (max-width: 450px) {
  .motel {
    height: 1056px;
    flex-direction: column;
  }

  .imageMotel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 312px;
  }

  #card-motel {
    position: absolute;
    z-index: 1;
    width: 312px;
    height: 696px;
    top: 150px;
  }
}

.formatMap {
  padding: 0;
  width: 496px;
  height: 580px;
}

/*PAGINA CORTESIAS*/
.cardsCortesias {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.cortesia{
  width: 368px;
  height: 377px;
}

@media (max-width: 450px) {
  .cardsCortesias {
    flex-direction: column;
  }

  .cortesia{
    width: 312px;
    height: 377px;
  }

  .cortesias a{
    margin: 1rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-body p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #2a2a2a;
}

.card-body h5 {
  font-size: 25px;
  font-family: 'Playfair Display';
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 600;
}


/* SLIDER */
#slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.containerSlide {
  width: 752px;
  height: 440px;
}

#slider {
  margin-top: 8em;
  margin-bottom: 1em;
}

#slider .btn {
  padding: 0.3 0.8em;
  font-size: 1em;
  margin-top: 1em;
}

#mini-card {
  width: 22rem;
  margin-top: -3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#mini-card a{
  margin: 1rem;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #111;
  font-size: 3em;
}

.carousel-control-prev-icon{
  color: #111;
}

.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}

@media (max-width: 450px) {
  .carousel{
    width: 312px;
    height: 440px;
  } 

  #mini-card{
    width: 280px;
    height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  #mini-banners {
    margin-top: -6em;
  }
}

@media (min-width: 450px) {
  .contatoContainer {
    width: 100vw;
    background-color: #2A2A2A;
    color: #ffff;
    display: flex;
    align-items: center: 
  }
}

/*PAGINA LOCALIZAÇÃO*/
.localizacao {
  max-width: 100vw;
  min-height: 450px;
  background-color: #eeeeee;
  overflow: hidden;
}

.cardLocalizacao{
  width: 31rem;
}

@media(max-width: 450px){
  .localizacao{
    height: 674px;
  }

  .containerLocalizacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerLocalizacao iframe {
    width: 312px;
    height: 312px;
  }

  .card-body {
    width: 312px;
    height: 234px;
  }
}


/*PAGINA CONTATOS */
#contatos {
  padding: 3em 2em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
  font-size: 14px;
}

#links-container a:hover {
  color: #fff;
}

@media (min-width: 768px) {
  #links-container {
    padding-left: 2em;
  }
}

#contatos{
  background-color: #2a2a2a;
}

#contact-container{
  color: #ffff;
}

#contact-container p{
  font-weight: 500;
  font-size: 14px;
  line-height: 22.4px;
}
#contact-container span{
  font-weight: 400;
  font-size: 11px;
  line-height: 19.25px;
}

.imageContatos{
  width: 189px;
  height: 78px;
  margin-bottom: 1rem;
}

.imagemMobile{
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 1rem;
}

@media(max-width: 450px){
  .desktopContatos{
    display: none;
  }
}

@media(min-width: 450px){
  .mobileContatos{
    display: none;
  }
}

/*FOOTER*/
.containerFooter{
  width: 100%;
  height: 36px;
  background-color: #000000;
  color: #ffff;
}

@media(max-weight: 450px){
  .containerFooter{
    height: 106px;
  }
}

.containerFooter p {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
}