* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

:root {
}

.primary-color {
  color: #ffff;
}

.secundary-color {
  color: #7a7266;
}

.tertiary-color {
  color: #5a493e;
}

.text-color {
  color: #2a2a2a;
}

.text-title {
  font-family: 'Playfair Display';
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
}

/*NAVBAR*/
#navbar {
  width: 100%;
  position: absolute;
  top: 0;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

.inicio {
  max-width: 100vw;
  height: 100vh;
  background-image: url(../imgs/imageHome.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

/*SUITES*/
a {
  font-family: 'Montserrat';
  color: #ffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.suites {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #7a7266;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.motel {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #eeeeee;
  overflow: hidden;
}

.localizacao {
  max-width: 100vw;
  min-height: 450px;
  background-color: #eeeeee;
  overflow: hidden;
}

/*O MOTEL*/
.motel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-motel {
  width: 568px;
  height: 512px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  padding: 0;
  margin: 0;
  margin-top: 112px;
}

.imageMotel {
  padding: 0;
  margin: 0;
}

@media (max-width: 450px) {
  .motel {
    height: 100%;
    flex-direction: column;
  }

  .imageMotel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 312px;
  }

  #card-motel {
    position: absolute;
    z-index: 1;
    width: 312px;
    height: 696px;
    top: 150px;
  }
}

.formatMap {
  padding: 0;
  width: 496px;
  height: 580px;
}

.contato {
  width: 100vw;
  height: 100vh;
  background-color: #2a2a2a;
}

.cardsCortesias {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 450px) {
  .cardsCortesias {
    flex-direction: column;
  }
}

footer {
  width: 100vw;
  height: 50px;
  background-color: #000;
  color: #ffff;
}

h1,
h3 {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-body p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #2a2a2a;
}

.card-body h5 {
  font-size: 25px;
  font-family: 'Playfair Display';
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 600;
}

//RESPONSIVIDADE
@media (max-width: 450px) {
  #navbar {
    top: 90vh;
    background-color: #2a2a2a;
  }

  .btnMobile {
    border: #7a7266;
    background-color: #7a7266;
  }
}

/* SLIDER */
#slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerSlide {
  width: 752px;
  height: 440px;
}

#slider {
  margin-top: 8em;
  margin-bottom: 1em;
}

#slider .btn {
  padding: 0.3 0.8em;
  font-size: 1em;
  margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #111;
  font-size: 3em;
}

.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}

@media (max-width: 450px) {
  .container {
    width: 312px;
    height: 440px;
  }
}

#mini-card {
  margin-top: -3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  #mini-banners {
    margin-top: -6em;
  }
}
